/* General Styling */
.resume {
  font-family: 'Arial', sans-serif;
  max-width: 1000px;
  margin: 50px auto;
  margin-left: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(247, 247, 247, 0.1);
  color: black;
  font-size: large;
}
.scrollable_section {
  max-height: 1300px; 
  overflow-y: auto; 
  padding: 20px;
  border-radius: 8px;
}
/* Header Section */
.header {
  text-align: center;
  color: black;
  padding: 20px;
  align-items: center;
}

.name {
  font-size: 2.5em;
  margin: 5px 0;
}

.title {
  font-size: 1.5em;
  color: #e0e0e0;
}

.contactInfo p {
  margin: 5px 0;
}

.experience,
.education {
  display: flex;
  flex-direction: column;
}

.experience_item{
  margin-top: -20px;
  line-height: 1.3;
}
.education_item {
  line-height: 1.3;
}


.skill {
  padding: 0px 15px;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.6;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.skills_education_container {
  display: flex;
  justify-content: left;

}

.skill,
.education_item {
  flex: 1;
  min-width: 30%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .resume {
    width: 90%;
  }

  .name {
    font-size: 2em;
  }

  .title {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .skills_education_container {
    flex-direction: column;
    /* Stack them on smaller screens */
  }
}